@model Core.ViewModels.Account.SignUpViewModel

<h2 class="text-center">Sign Up</h2>
@using (Ajax.BeginForm("SignUp", "Account", new AjaxOptions { UpdateTargetId = "body-content", OnComplete = "makeValidationSummaryRed" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "label label-warning" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Patronymic)
        @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Patronymic, null, new { @class = "label label-warning" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "label label-warning" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-warning" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "label label-danger" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-warning" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.HomePhone)
        @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.HomePhone, null, new { @class = "label label-warning" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.MobilePhone)
        @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MobilePhone, null, new { @class = "label label-warning" })
    </div>
    
    <button type="submit" class="btn btn-primary">Create my account</button>
}

<script>
    $(document).ready(function() {
        if (@Html.Raw(Json.Encode(ViewBag.IsRegistrationComplete))) {
            signInArea.update();
            window.location.href = "/Home/Index";
        }
    });
</script>